.item{
    display: flex;
    margin: 16px 0;
    padding: 10px;
    background-color: #FCBF49;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.content{
    flex: auto;
    text-align: center;
    font-weight: bold;
}

.desc{
    font-size: 16px;
    color: #194B49;
}

.time{
    color: #D62828;
}

.delete{
    margin-right: 10px;
    color: white;
    font-size: 20pz;
    font-weight: bold;
    cursor: pointer;
    transition:.3s;

}

.delete:hover{
    color: red;
    transform: rotate(1turn);
}